@model GiaiDapWeb.Models.Question

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/GrantPermission/indexRant3.cshtml";
}

@{Html.RenderPartial("EditorPartial");}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
