@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    12 Nguyễn Văn Bảo<br />
   Phường 4, Q.Gò Vấp, TP.HCM<br />
    <abbr title="Phone">P:</abbr>
    01299834964
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">thanhdam2411@gmail.com.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@example.com</a>
</address>